@CHARSET "ISO-8859-1";


a:visited {
	text-decoration: none;
	color: black;
}

a:link {
	text-decoration: none;
	color: black;
}


div#top {
	background-color: #DA70D6;
	width: 100%;
	height: 130px;
	padding-top: 10px;
}

div#title {
	font-size: 52px;
	width: auto;
	height: auto;
	margin: 0 auto;
	margin-left: 20px;
	margin-top: 20px;
}

div>a:active {
	color: white;
}

div#tittleLink {
	color: black;
	text-decoration: none;
	text-transform: none;
}

div#menu {
	background-color: black;
	widht: 100%;
	height: 27px;
}

#full {
	width: 100%;
	height: 700px;
	display: table;
	
}

#rankingSomatorio {
	width: 15%;
	height: 100%;
	float: left;
	background-color: white;
}

#otherbody {
	width: 70%;
	height: 100%;
	float: left;
	margin-left: 10px;
	background-color: white;
}

a.menuItem {
	color: white;
	padding: 5px;
	margin-top: 2px;
}

.tableRanking {
	margin: 0px 5% 0px 5%;
	border-collapse: collapse;
	float: left;
}

td,tr,th {
	text-align: center;
	padding: 2px 3px 2px 3px;
	border: 1px solid black;
}

#nUltimoConcurso {
	width: auto;
	height: auto;
	color: black;
	margin: 18px 15px 4px 0px;
	float: right;
	text-align: center;
	font-size: 18px;
}